.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 7px 4px #2a2a2a78;
  background-image: url("../images/golf.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
  width: 100%;
  height: 150px; }
  .header h1 {
    color: #fff;
    font-size: 5em;
    text-align: center; }

.my-container #content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  background-color: #dadfea; }

.card-img-top {
  height: 250px; }

.card {
  box-shadow: 0px 3px 7px 4px #2a2a2a78;
  margin: 40px; }

.btn {
  box-shadow: 0px 1px 2px 1px #2a2a2a78; }

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

#content_container {
  width: 100%; }
  #content_container #selections {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%; }
    #content_container #selections .selection {
      width: 200px;
      height: 30px;
      background-color: #fff;
      text-align: center; }
  #content_container #score_card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px 10px 20px 10px;
    border: 2px solid black; }
    #content_container #score_card .column {
      margin-right: 10px;
      text-align: center; }
    #content_container #score_card .mini-box {
      border: 1px solid #5e753f;
      min-height: 30px;
      min-width: 30px; }

.footer {
  box-shadow: 0px 3px 7px 4px #2a2a2a78;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  height: 25px;
  width: 100%;
  background-color: #5e753f;
  position: fixed;
  bottom: 0; }
  .footer .footer-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%; }
    .footer .footer-name p {
      text-align: center;
      font-size: 0.8em;
      color: #fff;
      margin: 0;
      padding: 0; }

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  background-color: #dadfea; }

@media screen and (max-width: 900px) {
  .header h1 {
    font-size: 4em; }
  .selections {
    width: 175px;
    height: 27px; } }

@media screen and (max-width: 600px) {
  .header h1 {
    font-size: 2em; }
  .selections {
    width: 150px;
    height: 24px; } }

@media screen and (max-width: 900px) {
  .footer .footer-name {
    width: 17%; } }

@media screen and (max-width: 600px) {
  .footer .footer-name {
    width: 25%; } }
