#content_container {
  width: 100%;

  #selections {
    @include flex();
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;

    .selection {
      width: 200px;
      height: 30px;
      background-color: $white;
      text-align: center;
      height: 35 px;
      border-radius: 5px;
      width: 200px;
      margin-bottom: 40px;
    }

    .add-player{
      @include flex();
      align-items: center;
      margin-bottom: 40px;

      input {
        height: 35px;
        border-radius: 5px;
        margin-right: 10px;
        width: 170px;
      }
    }
  }

  #score_card {
    @include flex();
    padding: 10px;
    margin: 50px 10px 20px 10px;
    // width: 1200px;
    overflow: hidden;
    overflow: auto;
    // border: 2px solid black;
    
    .column {
      margin-right: 10px;
      text-align: center;
      width: 30px;
    }

    .mini-box {
      @include flex();
      margin: 15px 5px 15px 5px;
      border-radius: 5px;
      border: 1px solid $green;
      min-height: 30px;
      min-width: 50px;
    }

    .mini-box-head {
      @include flex();
      margin: 15px 5px 15px 5px;
      border-radius: 5px;
      border: 1px solid $green;
      min-height: 30px;
      min-width: 100px;
    }

    .inactive {
      background-color: $green;
    }
  }
}


