.header {
  @include flex();
  @include box-shadow();
  background-image: url('../images/golf.jpg');
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
  width: 100%;
  height: 150px;

  h1 {
    color: $white;
    font-size: 5em;
    text-align: center;
  };
};

.my-container {

  #content {
    @include flex();
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    background-color: $gray;
  };

  #update_score {
    margin-top: 60px;
  }
};

// bootstrap overwrites

.card-img-top {
  height: 250px;
};

.card {
  @include box-shadow();
  margin: 40px;
};

.btn {
  @include box-shadow-btn();
};

.card-body {
  @include flex();
  flex-direction: column;
};