@import "_mixins.scss";
@import "_varibles.scss";
@import "_courses.scss";
@import "_course.scss";
@import "_footer.scss";

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  background-color: $gray;
}

// Responsiveness for courses

@media screen and (max-width: 900px) {
  .header {
    h1 {
      font-size: 4em;
    }
  }
  .selections {
    width: 175px;
    height: 27px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    h1 {
      font-size: 2em;
    }
  }
  .selections {
    width: 150px;
    height: 24px;
  }
}

// Responsiveness for footer

@media screen and (max-width: 900px) {
  .footer {
    .footer-name {
      width: 17%;
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    .footer-name {
      width: 25%;
    }
  }
}
